<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='first.css')}}">
<script>
function populate(s1,s2){
	var s1 = document.getElementById(s1);
	var s2 = document.getElementById(s2);
	s2.innerHTML = "";
	if(s1.value == "English"){
		var optionArray = ["pos|POSTAG","ner|NER","lem|Lemmatize","stem|Stemming","wordnet|wordnet","coref|coreference"];
	} else if(s1.value == "Kannada"){
		var optionArray = ["pos|POSTAG","spl|Sandhi","txtsum|TextSummarize","gnd|GenderClassify","txtcls|TextClassification","coref|coreference"];
	}


		for(var option in optionArray){
		var pair = optionArray[option].split("|");
		var newOption = document.createElement("option");
		newOption.value = pair[0];
		newOption.innerHTML = pair[1];
		s2.options.add(newOption);
	}
}
</script>
</head>
<body>
    <header >

         <h1>Major Project</h1>
    </header>
    <hr />

    <section>
        <form action="."method="POST">
         <div id="actionarea">
            <textarea rows="22" cols="80" name="text_body"></textarea>
            <br>
             select your language:
            <select id="language" name="language" onchange="populate(this.id,'tasks')">
              <option value="English">English</option>
              <option value="Kannada">Kannada</option>

            </select>
                 Choose the task:
            <select id="tasks" name="tasks"></select>
             <br>
             <input type="submit" name="submit" value="submit"/>
         </div>
    </form>


    <hr />
    </section>

    <footer>
       Ee Sala Cup Namde
    </footer>
</body>
</html>